nodes.txt
[{"id":"2522441c.3527c4","type":"serial in","z":"d6245695.dc04d8","name":"com input","serial":"342ac234.61c946","x":140,"y":380,"wires":[["8186d4bf.171e6","1932ce8e.235bc9"]]},{"id":"49132daf.fc8244","type":"serial out","z":"d6245695.dc04d8","name":"com output","serial":"342ac234.61c946","x":410,"y":160,"wires":[]},{"id":"286d1f1f.91728","type":"inject","z":"d6245695.dc04d8","name":"test-buffer-input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":180,"y":40,"wires":[["22906ae7.ce4916"]]},{"id":"1932ce8e.235bc9","type":"function","z":"d6245695.dc04d8","name":"parse-package","func":"var div_resistor    = {payload: 0};\nvar multiple_val    = {payload: 0};\nvar power_volt      = {payload: 0};\nvar adc_volt        = {payload: 0};\nvar meas_resistor   = {payload: 0};\n\nvar thermocouple_1   = {payload: 0};\nvar thermocouple_2   = {payload: 0};\n\nvar output_values   = {payload: 0};\n\nvar START_SYMBOL = 0x3A; // the first byte in message\nvar NUMBER_SYS_BYTES = 5;   // not data number of bytes in message\n\nvar k_thermocouple = 0.25;\n\n/* -------------------------------------------------\n               ___                ___\n + V power----|___|---  out  ----|___|---  Gnd\n               R1                  R2\n    R1 = 20k, 1%\n    R2 = 5.1k, 1%\n    k_div_power_volt = R1/R2 + 1 = 20k/5.1k + 1 = 4.92 \n   -------------------------------------------------\n*/\nvar k_div_power_volt = 4.92;\n\n/* -------------------------------------------------\n                ___                           ___\n signal out----|___|---  out to MCU adc  ----|___|---  Gnd\n                R1                             R2\n    R1 = 20k, 1%\n    R2 = 5.1k, 1%\n    k_div_power_volt = R1/R2 + 1 = 20k/5.1k + 1 = 4.92 \n   -------------------------------------------------\n*/\nvar k_div_adc_volt = 4.92;\n\nvar adc_12_bit = 0.0008056640625;\n\n/*\n    Numbers showns as numbers\n    Symbols showns as ASCII code\n*/\n\n/* Check start symbol in package. */\n/*\n    Outputs are\n    1. Divide resistor\n    2. Multiple value\n    3. power voltage\n    4. adc voltage\n    5. Measure resistor\n    \n*/\nif (msg.payload[0] === START_SYMBOL)\n{\n    var num_bytes_data = msg.payload[1] + NUMBER_SYS_BYTES;\n    var package_size = msg.payload.length;\n    \n    if (num_bytes_data === package_size) \n    {\n        /* Check CRC8. */\n\n        var div_r = 0;\n        var mul_val = 0;\n        \n        var volt_power_val = 0;\n        var volt_adc_val = 0;\n        \n        var thermocouple_1_val = 0;\n        var thermocouple_2_val = 0;\n        \n        var resistor = 0;\n        \n        var out_val = \"\";\n        \n        /* Get and set divider resistor. */\n        div_resistor    = ((msg.payload[2] & 0xF0) >> 4);\n        \n        if (div_resistor === 0)\n        {\n            div_r = 10000;\n            div_resistor = {payload: \"10k\"};\n        }\n        else if (div_resistor === 1) \n        {\n            div_r = 100000;\n            div_resistor = {payload: \"100k\"};\n        }\n        else if (div_resistor === 2) \n        {\n            div_r = 1000000;\n            div_resistor = {payload: \"1M\"}; \n            \n            out_val += div_r.toString() + \";\";         \n        }\n        else if (div_resistor === 3) \n        {\n            div_r = 10000000;\n            div_resistor = {payload: \"10M\"};\n        }\n        else if (div_resistor === 4) \n        {\n            div_r = 47000000;\n            div_resistor = {payload: \"47M\"};\n        }\n        \n        /* Get and set multiple resistor. */\n        multiple_val    = (msg.payload[2] & 0x0F);\n        \n        if (multiple_val === 0) \n        {\n            mul_val = 1;\n            multiple_val = {payload: \"x1\"};\n        }\n        else if (multiple_val === 1) \n        {\n            mul_val = 2;\n            multiple_val = {payload: \"x2\"};\n        }\n        else if (multiple_val === 2) \n        {\n            mul_val = 5 + 1;\n            multiple_val = {payload: \"x5\"};\n        }\n        else if (multiple_val === 3) \n        {\n            mul_val = 10 + 1;\n            multiple_val = {payload: \"x10\"};\n            \n            out_val += mul_val.toString() + \";\";\n        }\n        else if (multiple_val === 4) \n        {\n            mul_val = 100 + 1;\n            multiple_val = {payload: \"x100\"};\n        }\n        else if (multiple_val === 5) \n        {\n            mul_val = 1000 + 1;\n            multiple_val = {payload: \"x1000\"};\n        }\n        \n        volt_adc_val = (msg.payload[3] << 8) | msg.payload[4];\n        volt_power_val = (msg.payload[5] << 8) | msg.payload[6];\n        \n        power_volt = volt_power_val * adc_12_bit;\n        adc_volt = volt_adc_val * adc_12_bit;\n\n        thermocouple_1_val = (msg.payload[7] << 8) | msg.payload[8];\n        thermocouple_2_val = (msg.payload[9] << 8) | msg.payload[10];\n        \n        thermocouple_1_val = thermocouple_1_val * k_thermocouple;\n        thermocouple_2_val = thermocouple_2_val * k_thermocouple;\n        \n        // resistor = (((k_div_power_volt * volt_power_val) - ((k_div_adc_volt * volt_adc_val) / mul_val)) * div_r) / ((k_div_adc_volt * volt_adc_val) / mul_val);\n        resistor = ((volt_power_val - (volt_adc_val / mul_val)) * div_r) / (volt_adc_val / mul_val);\n        \n        power_volt = {payload: power_volt};\n        adc_volt = {payload: adc_volt};\n        \n        thermocouple_1 = {payload: thermocouple_1_val};\n        thermocouple_2 = {payload: thermocouple_2_val};\n        \n        meas_resistor = {payload: resistor};\n        \n        output_values   =   { payload: \n                                    div_r.toString() + \";\" +\n                                    mul_val.toString() + \";\" +\n                                    (volt_power_val * adc_12_bit).toString() + \";\" +\n                                    (volt_adc_val * adc_12_bit).toString() + \";\" +\n                                    resistor.toString() + \";\" +\n                                    thermocouple_1_val.toString() + \";\" +\n                                    thermocouple_2_val.toString()\n                            };\n    }\n    else \n    {\n        msg.payload[0] = package_size;\n    }\n}\n\nreturn [div_resistor, multiple_val, power_volt, adc_volt, meas_resistor, thermocouple_1, thermocouple_2, output_values];\n","outputs":8,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["3e3559ff.e58106"],["dec8d308.b421b","be48e919.7b3fe8"],["fc7662c9.db7c28"],["a21bcc0f.2e38a"],["ffb6fabc.2a3b48"],["d663d1e3.c759b8"],["6df31ac9.0aaae4"],["aa518c65.edb1f"]]},{"id":"8186d4bf.171e6","type":"debug","z":"d6245695.dc04d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":240,"wires":[]},{"id":"22906ae7.ce4916","type":"function","z":"d6245695.dc04d8","name":"send-test-package","func":"var out_array = [];\n\nvar START_SYMBOL = 0x3A;\nvar NUMBER_SYS_BYTES = 5;\n\nvar div_r_val = 1;\nvar mul_r_val = 1;\n\nvar v_pow_val = 3700;\nvar v_adc_val = 1234;\n\nvar crc8 = 0xAA;\n\n/* \n    Target output\n    [ 58, 5, 17, 14, 116, 4, 210, 170, 10, 13 ]\n*/\n\nout_array[0] = START_SYMBOL;\n\nout_array[1] = NUMBER_SYS_BYTES;\n\nout_array[2] = (div_r_val << 4) | mul_r_val;\n\nout_array[3] = (v_pow_val & 0xFF00) >> 8;\nout_array[4] = v_pow_val & 0x00FF;\n\nout_array[5] = (v_adc_val & 0xFF00) >> 8;\nout_array[6] = v_adc_val & 0x00FF;\n\nout_array[7] = crc8;\n\nout_array[8] = 0x0A;\nout_array[9] = 0x0D;\n\nmsg.payload = out_array;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":80,"wires":[["10128e9.78cc971","49132daf.fc8244"]]},{"id":"10128e9.78cc971","type":"debug","z":"d6245695.dc04d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"6b10036d.bfc01c","type":"inject","z":"d6245695.dc04d8","name":"working-test-buffer-input-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[58,5,49,14,116,4,210,170,10,13]","payloadType":"bin","x":150,"y":200,"wires":[["49132daf.fc8244","10128e9.78cc971"]]},{"id":"de5f78bf.95c0d","type":"inject","z":"d6245695.dc04d8","name":"test-buffer-input-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"56","payloadType":"num","x":180,"y":140,"wires":[["49132daf.fc8244"]]},{"id":"3e3559ff.e58106","type":"ui_text","z":"d6245695.dc04d8","group":"81216eea.80f7e","order":0,"width":0,"height":0,"name":"","label":"Divide resistor (Om)","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":140,"wires":[]},{"id":"dec8d308.b421b","type":"ui_text","z":"d6245695.dc04d8","group":"81216eea.80f7e","order":0,"width":0,"height":0,"name":"","label":"Multiple value (Unit)","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":180,"wires":[]},{"id":"fc7662c9.db7c28","type":"ui_text","z":"d6245695.dc04d8","group":"81216eea.80f7e","order":0,"width":0,"height":0,"name":"","label":"Power supply (V)","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":220,"wires":[]},{"id":"a21bcc0f.2e38a","type":"ui_text","z":"d6245695.dc04d8","group":"81216eea.80f7e","order":0,"width":0,"height":0,"name":"","label":"ADC out (V)","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":260,"wires":[]},{"id":"ffb6fabc.2a3b48","type":"ui_text","z":"d6245695.dc04d8","group":"81216eea.80f7e","order":0,"width":0,"height":0,"name":"","label":"Resistor (Om)","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":300,"wires":[]},{"id":"7a6ee679.bd5dc","type":"csv","z":"d6245695.dc04d8","name":"","sep":";","hdrin":false,"hdrout":"once","multi":"one","ret":"\\r\\n","temp":"R,thermocouple_1,thermocouple_2,time","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":690,"y":420,"wires":[["88edf056.e4554","c6231ca5.000d58"]]},{"id":"c6231ca5.000d58","type":"debug","z":"d6245695.dc04d8","name":"","active":false,"console":"false","complete":"payload","x":850,"y":440,"wires":[]},{"id":"88edf056.e4554","type":"file","z":"d6245695.dc04d8","name":"","filename":"test-file.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":850,"y":400,"wires":[[]]},{"id":"aa518c65.edb1f","type":"function","z":"d6245695.dc04d8","name":"","func":"var input_str = msg.payload;\nvar array_str = input_str.split(\";\");\n\nmsg.payload = {};\n\nvar cur_hours = new Date().getHours().toLocaleString(\"ru-RU\");\nvar cur_minutes = new Date().getMinutes().toLocaleString(\"ru-RU\");\nvar cur_seconds = new Date().getSeconds().toLocaleString(\"ru-RU\");\nvar cur_milliseconds = new Date().getMilliseconds().toLocaleString(\"ru-RU\");\n\nvar resistor = array_str[4];\nvar thermocouple_1 = array_str[5];\nvar thermocouple_2 = array_str[6]\n\n\nthermocouple_1 = thermocouple_1.toString().replace(\".\" , \",\");\nthermocouple_2 = thermocouple_2.toString().replace(\".\" , \",\");\n\nmsg.payload.R = resistor;\nmsg.payload.thermocouple_1 = thermocouple_1;\nmsg.payload.thermocouple_2 = thermocouple_2;\nmsg.payload.time = cur_hours + \":\" + cur_minutes + \":\" + cur_seconds + \":\" + cur_milliseconds;\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":420,"wires":[["7a6ee679.bd5dc","e2e238ce.de2928"]]},{"id":"d663d1e3.c759b8","type":"ui_text","z":"d6245695.dc04d8","group":"81216eea.80f7e","order":0,"width":0,"height":0,"name":"","label":"Thermocouple 1 (°C)","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":340,"wires":[]},{"id":"6df31ac9.0aaae4","type":"ui_text","z":"d6245695.dc04d8","group":"81216eea.80f7e","order":0,"width":0,"height":0,"name":"","label":"Thermocouple 2 (°C)","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":380,"wires":[]},{"id":"be48e919.7b3fe8","type":"debug","z":"d6245695.dc04d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":260,"wires":[]},{"id":"e2e238ce.de2928","type":"debug","z":"d6245695.dc04d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":440,"wires":[]},{"id":"342ac234.61c946","type":"serial-port","z":"","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"500","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"81216eea.80f7e","type":"ui_group","z":"","name":"Default","tab":"9bb453f3.11687","order":1,"disp":true,"width":"6","collapse":false},{"id":"9bb453f3.11687","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]